.container {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

.boxes {
    width: 200px;
    height: 100px;
    background-color: tomato ;
    border: 2px solid red;
    flex-grow: 1;
    margin: 20px;

}