.one {
    height: 300px;
    border: 5px solid darkgreen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: mediumseagreen;
}

.buttons{
    width: 250px;
    height: 125px;
    margin: 10px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: darkolivegreen;
    text-align: center;
}

#flexend {
    align-self: flex-end;
}
